doctype html5
html(lang='zh-cn')
    head
        meta(charset='UTF-8')
        title 陈志财的简历
        link(rel='stylesheet', type='text/css', href='https://necolas.github.io/normalize.css/4.1.1/normalize.css')
        link(rel='stylesheet', href='/vendor/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/css/resume/main.css')
    body(marginheight='0')
        h1
            | 陈志财
            span(style='font-size:18px;')  ZhiCai Chen
            i.fa.fa-mars(style='font-size:20px;margin-left:10px;')
        h2
            | Web开发工程师
            span(style='font-size:18px;')  Web Engineer
        blockquote
            p
                i.fa.fa-phone-square.fa-lg(aria-hidden='true')
                span(style='padding-left:5px;') 188 2519 3919
            p
                i.fa.fa-envelope-square.fa-lg(aria-hidden='true')
                span(style='padding-left:5px;') sesnala@163.com
        hr
        h3
            i.fa.fa-bookmark(aria-hidden='true')
            span 关于我
        ul.nolist(style='padding-left:20px;')
            li
                i.fa.fa-star(aria-hidden='true')
                span 2年web开发经验
            li
                i.fa.fa-star(aria-hidden='true')
                span 良好的web全栈技能
            li
                i.fa.fa-star(aria-hidden='true')
                span 追求简洁、优雅的代码
            li
                i.fa.fa-star(aria-hidden='true')
                span 持续锻炼英语阅读能力

        hr
        h3
            i.fa.fa-bookmark(aria-hidden='true')
            span 技术栈
        ol
            li 深入了解JavaScript、HTML、CSS
            li Vue、JQuery、Zepto
            li MySQL、Redis
            li Bootstrap
            li Node.js
            li Linux
            li HTTP
        hr
        h3
            i.fa.fa-bookmark(aria-hidden='true')
            span 就职情况
        ul(style='padding-left:20px;')
            li(style='list-style:none;')
                i.fa.fa-group(aria-hidden='true')
                span(style='padding-left:5px;') 尚游游戏
                blockquote#xueli
                    p
                        | Web开发工程师 (
                        strong
                            em 2015.7 - 现在
                        | )
        
        hr
        h3
            i.fa.fa-bookmark(aria-hidden='true')
            span 教育情况
        ul(style='padding-left:20px;')
            li(style='list-style:none;')
                i.fa.fa-graduation-cap(aria-hidden='true')
                span(style='padding-left:5px;') 广东工业大学
                blockquote#xueli
                    p
                        | 网络工程 (
                        strong
                            em 2011.9 - 2015.7
                        | )

        hr
        h3
            i.fa.fa-bookmark(aria-hidden='true')
            span 工作经验


        footer http://yieldblog.me/resume.html