doctype html5
html(lang='zh-cn')
    head
        meta(charset='UTF-8')
        title 陈志财的简历
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        link(rel='stylesheet', type='text/css', href='https://necolas.github.io/normalize.css/4.1.1/normalize.css')
        link(rel='stylesheet', href='/vendor/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/css/resume/main.css')
    body(marginheight='0')
        //- .line
        h1
            | 陈志财
            i.fa.fa-mars(style='font-size:20px;margin-left:10px;')
        h2
            | Web前端工程师
        blockquote
            p
                i.fa.fa-phone-square.fa-lg(aria-hidden='true')
                span 188 2519 3919
            p
                i.fa.fa-envelope-square.fa-lg(aria-hidden='true')
                span sesnala@163.com
        hr
        h3
            i.fa.fa-bookmark(aria-hidden='true')
            span 关于我
        ul.nolist(style='padding-left:20px;')
            li
                i.fa.fa-star(aria-hidden='true')
                span 2年web开发经验
            li
                i.fa.fa-star(aria-hidden='true')
                span 完整的web全栈技能
            li
                i.fa.fa-star(aria-hidden='true')
                span 丰富的沟通、合作经验
            li
                i.fa.fa-star(aria-hidden='true')
                span 追求简洁、优雅的代码
            li
                i.fa.fa-star(aria-hidden='true')
                span 持续锻炼英语阅读能力

        hr
        h3
            i.fa.fa-bookmark(aria-hidden='true')
            span 技术栈
        ol.tech
            li 深入了解JavaScript、HTML、CSS
            li Vue、JQuery、Zepto
            li MySQL、Redis
            li Bootstrap
            li Node.js
            li Git、Linux、HTTP
        hr
        h3
            i.fa.fa-bookmark(aria-hidden='true')
            span 就职情况
        ul.job
            li(style='list-style:none;')
                i.fa.fa-group(aria-hidden='true')
                span(style='padding-left:5px;') 尚游游戏
                blockquote.detail
                    p
                        | Web开发工程师 (
                        strong
                            em 2015.7 - 现在
                        | )
        
        hr
        h3
            i.fa.fa-bookmark(aria-hidden='true')
            span 教育情况
        ul.educate
            li(style='list-style:none;')
                i.fa.fa-graduation-cap(aria-hidden='true')
                span(style='padding-left:5px;') 广东工业大学(本科)
                blockquote.detail
                    p
                        | 网络工程 (
                        strong
                            em 2011.9 - 2015.7
                        | )

        hr
        h3
            i.fa.fa-bookmark(aria-hidden='true')
            span 工作经验
        .proj
            p.proj-name
                strong 1. 斗地主游戏活动
            ul.nolist
                li
                    i.fa.fa-book
                    span 介绍：持续为游戏提供一些活动，提升游戏的趣味性
                li
                    i.fa.fa-gears
                    span 技术：Node.js、MySQL、Redis、Zepto、Jade、Stylus
                li
                    i.fa.fa-bug
                    span 问题：
                    ol.proj-ol
                        li 活动列表根据每个用户的属性动态变化
                        li 实时性要求较高，不允许数据出现延迟
                        li 客户端性能不一，某些机型动画非常卡顿
                li
                    i.fa.fa-wrench
                    span 方案：
                    ol.proj-ol
                        li 活动数据使用Redis缓存，同时记录到MySQL持久化
                        li 游戏数据从游戏服务端实时上报，缓存到Redis
                        li 针对Node.js的单进程问题，采用Cluster模式做负载均衡
                        li 客户端尽可能减少reflow、repaint操作
                        li 复杂动画选择性用多帧图片代替
                        li 必要情况下开启硬件加速
        .proj
            p.proj-name
                strong 2. 斗地主游戏数据分析
            ul.nolist
                li
                    i.fa.fa-book
                    span 介绍：分析斗地主游戏用户、留存、充值、玩法、道具等数据
                li
                    i.fa.fa-gears
                    span 技术：Node.js、MySQL、Redis
                li
                    i.fa.fa-bug
                    span 问题：
                    ol.proj-ol
                        li 每天活跃用户260多万，产生牌局1000多万，产生道具流水6000多万
                        li 仅按功能分表，没有按天分表，保留一个月数据下，单表数据量超10亿
                        li 需求复杂，分析纬度最高达到10个，且纬度可以任意组合
                        li 某些用户行为分析使用MySQL效率无法接受
                        li 现阶段每天有40多个分析，要求在每天1点到9点之间完成
                li
                    i.fa.fa-wrench
                    span 方案：
                    ol.proj-ol
                        li 使用1主多从，主库只写数据，数据分析由多个从库完成
                        li 现阶段采用从流水表读取分析数据到临时表，后续会按天分表
                        li 针对多维度数据分析，先细分到最小纬度，再逐步扩大纬度进行分析
                        li 分级统计，只统计中间结果，当查询时再组合起来做最终统计
                        li 逐步过渡到LevelDB+Redis，采用游戏上报进行实时分析方案

        .proj
            p.proj-name
                strong 3、斗地主游戏配置后台
            ul.nolist
                li
                    i.fa.fa-book
                    span 介绍：将以前的人工修改配置文件方式改为通过后台进行修改
                li
                    i.fa.fa-gears
                    span 技术：Node.js、Vue、JQuery、Bootstrap、Jade、Stylus
                li
                    i.fa-fa-bug
                    span 问题：
                    ol.proj-ol
                        li 人工修改配置操作繁琐、且极容易出错
                        li 配置文件为了方便人工修改采用JSON格式，导致格式不统一且极其复杂
                        li 配置量过多，整体迁移太过于耗时
                li
                    i.fa-fa-wrench
                    span 方案：
                    ol.proj-ol
                        li 拆分完整的JSON配置为为多个配置表，游戏服务器加载时组装
                        li 使用Vue，极大提升开发效率
                        li 统一格式，大量封装公共模块，简化开发流程

        footer https://sesna.github.io